---
layout: default
---
<p class="intro"><b>{{ site.tagline }}</b> {{ site.intro }}</p>
{{ content }}
{% if site.posts.size == 0 %}<p class="empty">첫 글을 준비하고 있습니다.</p>{% endif %}
{% for post in site.posts %}
<article class="post">
  <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y-%m-%d' }}</time>{% if post.series %}{% assign s = site.data.series | where: 'id', post.series | first %} <span class="sep">·</span> <a class="series" href="{{ '/series/#' | append: post.series | relative_url }}">{{ s.name | default: post.series }}</a>{% endif %}
  <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
  {% if post.description %}<p>{{ post.description }}</p>{% endif %}
  {% if post.tags.size > 0 %}<div class="tags">{% for t in post.tags %}<a href="{{ '/tags/#' | append: t | slugify | relative_url }}">#{{ t }}</a>{% endfor %}</div>{% endif %}
</article>
{% endfor %}
